body{
    background: linear-gradient(to bottom, #000000 9%, #12071b 74%);
}
#playnow-btn{
    height: 50px;
    width: 150px;
    color: white;
    font: 700;
    background: linear-gradient(to bottom, #2d026e 11%, #0b010d 74%);

}
#account-btn{
    height: 50px;
    width: 150px;
    color: white;
    font: 700;
    background: linear-gradient(to bottom, #0f0223 11%, #0b010d 74%);
}
 
#card1{
    background-color: #0000009b;
}
#card2{
    background-color: #0000009b;
}
#card3{
    background-color: #0000009b;
}